// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Color
// - Primary
// - Foundation
//   > Gray
//   > Red
//   > Green
//   > Blue
//   > Yellow
//   > Purple
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Primary
// ============================================================
$color-primary-white:  #FFFFFF;
$color-primary-gray:   #1A1A1A;
$color-primary-red:    #F74E3A;
$color-primary-green:  #44DA7D;
$color-primary-blue:   #4476D7;
$color-primary-yellow: #FFC735;
$color-primary-purple: #6C5CC0;

// Foundation
// ============================================================

// Gray
// ----------------------------------------
$color-gray-900:  #1A1A1A;
$color-gray-800:  #323232;
$color-gray-700:  #4A4A4A;
$color-gray-600:  #626262;
$color-gray-500:  #929292;
$color-gray-400:  #AAAAAA;
$color-gray-300:  #B6B6B6;
$color-gray-200:  #CECECE;
$color-gray-100:  #DADADA;
$color-gray-75:   #E6E6E6;
$color-gray-50:   #F2F2F2;
$color-gray-25:   #FAFAFA;

// Red
// ----------------------------------------
$color-red-900:  #4B0700;
$color-red-800:  #6F0F02;
$color-red-700:  #931B0A;
$color-red-600:  #B72916;
$color-red-500:  #DB3A26;
$color-red-400:  #F74E3A;
$color-red-300:  #FF5E4A;
$color-red-200:  #FF715E;
$color-red-100:  #FF8776;
$color-red-75:   #FFA092;
$color-red-50:   #FFBCB4;
$color-red-25:   #FFDBD8;

// Green
// ----------------------------------------
$color-green-900:  #044B21;
$color-green-800:  #0B6F32;
$color-green-700:  #159044;
$color-green-600:  #21AC56;
$color-green-500:  #31C469;
$color-green-400:  #44DA7D;
$color-green-300:  #55E88D;
$color-green-200:  #6AF49E;
$color-green-100:  #81FCB0;
$color-green-75:   #9BFFC2;
$color-green-50:   #B9FFD5;
$color-green-25:   #D9FFE9;

// Blue
// ----------------------------------------
$color-blue-900:  #051E4B;
$color-blue-800:  #0B2D6F;
$color-blue-700:  #153E8E;
$color-blue-600:  #2250A9;
$color-blue-500:  #3162C2;
$color-blue-400:  #4476D7;
$color-blue-300:  #5587E6;
$color-blue-200:  #6A98F1;
$color-blue-100:  #81AAFA;
$color-blue-75:   #9CBEFF;
$color-blue-50:   #B9D2FF;
$color-blue-25:   #D9E7FF;

// Yellow
// ----------------------------------------
$color-yellow-900:  #4B4400;
$color-yellow-800:  #6F6200;
$color-yellow-700:  #937E06;
$color-yellow-600:  #B79811;
$color-yellow-500:  #DBB021;
$color-yellow-400:  #FFC735;
$color-yellow-300:  #FFD445;
$color-yellow-200:  #FFE059;
$color-yellow-100:  #FFEA72;
$color-yellow-75:   #FFF290;
$color-yellow-50:   #FFF8B4;
$color-yellow-25:   #FFFCD8;

// Purple
// ----------------------------------------
$color-purple-900:  #191143;
$color-purple-800:  #271C60;
$color-purple-700:  #36297B;
$color-purple-600:  #473894;
$color-purple-500:  #5949AB;
$color-purple-400:  #6C5CC0;
$color-purple-300:  #7D6DCF;
$color-purple-200:  #8F80DC;
$color-purple-100:  #A295E7;
$color-purple-75:   #B7ACF0;
$color-purple-50:   #CDC5F7;
$color-purple-25:   #E4E0FC;
