// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Typography
// - Variables
// - Mixns
// - Primary (IBM Plex Sans Thai)
// - Secondary (Sarabun)
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Variables
// ============================================================
// IBM Plex Sans Thai
$font-family-primary: 'IBM Plex Sans Thai', sans-serif;
$font-weight-primary-1: 400; // Regular
$font-weight-primary-2: 700; // Bold
$line-height-primary: 1.5;

// Sarabun
$font-family-secondary: 'Sarabun', sans-serif;
$font-weight-secondary-1: 400; // Regular
$font-weight-secondary-2: 700; // Bold
$line-height-secondary: 1.5;

// Mixins
// ============================================================
@mixin font-primary-base() {
  font-family: $font-family-primary;
  line-height: $line-height-primary;
}

@mixin font-secondary-base() {
  font-family: $font-family-secondary;
  line-height: $line-height-secondary;
}

// Primary (IBM Plex Sans Thai)
//
// Regular
// @include font-primary-regular-48;
// @include font-primary-regular-40;
// @include font-primary-regular-32;
// @include font-primary-regular-24;
// @include font-primary-regular-18;
// @include font-primary-regular-16;
// @include font-primary-regular-14;
// @include font-primary-regular-12;
// @include font-primary-regular-10;
//
// Bold
// @include font-primary-bold-48;
// @include font-primary-bold-40;
// @include font-primary-bold-32;
// @include font-primary-bold-24;
// @include font-primary-bold-18;
// @include font-primary-bold-16;
// @include font-primary-bold-14;
// @include font-primary-bold-12;
// @include font-primary-bold-10;
//
// ============================================================

// Regular
// ------------------------------
@mixin font-primary-regular-48() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(48);
}

@mixin font-primary-regular-40() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(40);
}

@mixin font-primary-regular-32() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(32);
}

@mixin font-primary-regular-24() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(24);
}

@mixin font-primary-regular-18() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(18);
}

@mixin font-primary-regular-16() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(16);
}

@mixin font-primary-regular-14() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(14);
}

@mixin font-primary-regular-12() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(12);
}

@mixin font-primary-regular-10() {
  @include font-primary-base;
  font-weight: $font-weight-primary-1;
  font-size: rem(10);
}

// Bold
// ------------------------------
@mixin font-primary-bold-48() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(48);
}

@mixin font-primary-bold-40() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(40);
}

@mixin font-primary-bold-32() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(32);
}

@mixin font-primary-bold-24() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(24);
}

@mixin font-primary-bold-18() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(18);
}

@mixin font-primary-bold-16() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(16);
}

@mixin font-primary-bold-14() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(14);
}

@mixin font-primary-bold-12() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(12);
}

@mixin font-primary-bold-10() {
  @include font-primary-base;
  font-weight: $font-weight-primary-2;
  font-size: rem(10);
}

// Secondary (Sarabun)
//
// Regular
// @include font-secondary-regular-48;
// @include font-secondary-regular-40;
// @include font-secondary-regular-32;
// @include font-secondary-regular-24;
// @include font-secondary-regular-18;
// @include font-secondary-regular-16;
// @include font-secondary-regular-14;
// @include font-secondary-regular-12;
// @include font-secondary-regular-10;
//
// Bold
// @include font-secondary-bold-48;
// @include font-secondary-bold-40;
// @include font-secondary-bold-32;
// @include font-secondary-bold-24;
// @include font-secondary-bold-18;
// @include font-secondary-bold-16;
// @include font-secondary-bold-14;
// @include font-secondary-bold-12;
// @include font-secondary-bold-10;
//
// ============================================================

// Regular
// ------------------------------
@mixin font-secondary-regular-48() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(48);
}

@mixin font-secondary-regular-40() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(40);
}

@mixin font-secondary-regular-32() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(32);
}

@mixin font-secondary-regular-24() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(24);
}

@mixin font-secondary-regular-18() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(18);
}

@mixin font-secondary-regular-16() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(16);
}

@mixin font-secondary-regular-14() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(14);
}

@mixin font-secondary-regular-12() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(12);
}

@mixin font-secondary-regular-10() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-1;
  font-size: rem(10);
}

// Bold
// ------------------------------
@mixin font-secondary-bold-48() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(48);
}

@mixin font-secondary-bold-40() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(40);
}

@mixin font-secondary-bold-32() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(32);
}

@mixin font-secondary-bold-24() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(24);
}

@mixin font-secondary-bold-18() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(18);
}

@mixin font-secondary-bold-16() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(16);
}

@mixin font-secondary-bold-14() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(14);
}

@mixin font-secondary-bold-12() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(12);
}

@mixin font-secondary-bold-10() {
  @include font-secondary-base;
  font-weight: $font-weight-secondary-2;
  font-size: rem(10);
}
