/**
 * RESUME
 *
 * COMMON >>>
 * .....CUSTOMIZE BOOTSTRAP GRID SYSTEM
 * .....DEFAULT ELEMENT
 *
 * UTILITY >>>
 * .....Useful Class
 * .....Column Space (for Bootstrap)
 * .....Container Padding (for Bootstrap)
 * .....Centering in the Unknown
 *
 * FONTS
 * .....Bullet Icon
 * .....Supermarket
 *
 * LAYOUT
 *
 * JQUERY PLUGIN >>>
 * .....jPreloader
 * .....ImageFill
 * .....scrollToBySpeed
 * .....Data Image Delivery
 * .....Bootstrap Modals
 *
 */

@media (max-width: 767px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
}



/*------------------------------------*\
    CUSTOMIZE BOOTSTRAP GRID SYSTEM
\*------------------------------------*/
.container {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

@media (min-width: 768px) {
	.container {
		/*width: 750px;*/
		width: auto;
	}
}

@media (min-width: 992px) {
	.container {
		/*width: 970px;*/
		width: auto;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}



/*------------------------------------*\
    DEFAULT ELEMENT
\*------------------------------------*/
html, body { 
	height: 100%; 
}

html {
	font-size: 100%; /* 16px */
}

body { 
	background-color: #ffffff; 
	font-family: Tahoma; 
	font-size: 87.5%; /* 14px = 1em */
	color: #666; 
	line-height: 1.6; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a { 
	color: #F00; 
}

a:hover { 
	color: #333; 
	text-decoration: none; 
}

/*
a:visited { 
	color: #999; 
}
*/

h1, h2, h3, h4, h5, h6 { 
	padding: 0px; 
	margin: 0px;
	font-weight: normal; 
	line-height: 1;
}

p {
	margin: 0px;
}

ul, ol {
	padding: 0px;
	margin: 0px;
}

li {
	list-style-type: none;
}

address {
	margin: 0px;
	line-height: 1.6;
}



/*------------------------------------*\
    Useful Class
\*------------------------------------*/
.web-access { 
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.block-relative {
	position: relative;
}

.table-display {
	display: table;
}

.tablecell-display {
	display: table-cell;
	vertical-align: middle;
}

.assign-height {
	height: 100%;
}

.assign-width {
	width: 100%;
}

.assign-width-height {
	width: 100%;
	height: 100%;
}



/*------------------------------------*\
    Column Space (for Bootstrap)
\*------------------------------------*/
.wrapcol-space-10 {
	margin-left: -10px;
}

.col-space-10 {
	margin-left: 10px;
}

.wrapcol-space-15 {
	margin-left: -15px;
}

.col-space-15 {
	margin-left: 15px;
}

.wrapcol-space-20 {
	margin-left: -20px;
}

.col-space-20 {
	margin-left: 20px;
}

.wrapcol-space-30 {
	margin-left: -30px;
}

.col-space-30 {
	margin-left: 30px;
}



/*------------------------------------*\
    Container Padding (for Bootstrap)
\*------------------------------------*/
@media (max-width: 767px) {
	.xs-sm-padding-10 {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.xs-sm-padding-15 {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.xs-sm-padding-20 {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.xs-sm-md-padding-10 {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.xs-sm-md-padding-15 {
		padding-left: 15px;
		padding-right: 15px;
	}
		
	.xs-sm-md-padding-20 {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 768px) {
	.xs-sm-padding-10 {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.xs-sm-padding-15 {
		padding-left: 15px;
		padding-right: 15px;
	}
		
	.xs-sm-padding-20 {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.xs-sm-md-padding-10 {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.xs-sm-md-padding-15 {
		padding-left: 15px;
		padding-right: 15px;
	}
		
	.xs-sm-md-padding-20 {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 992px) {
	.xs-sm-padding-10 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.xs-sm-padding-15 {
		padding-left: 0px;
		padding-right: 0px;
	}
		
	.xs-sm-padding-20 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.xs-sm-md-padding-10 {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.xs-sm-md-padding-15 {
		padding-left: 15px;
		padding-right: 15px;
	}
		
	.xs-sm-md-padding-20 {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 1200px) {
	.xs-sm-padding-10 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.xs-sm-padding-15 {
		padding-left: 0px;
		padding-right: 0px;
	}
		
	.xs-sm-padding-20 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.xs-sm-md-padding-10 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.xs-sm-md-padding-15 {
		padding-left: 0px;
		padding-right: 0px;
	}
		
	.xs-sm-md-padding-20 {
		padding-left: 0px;
		padding-right: 0px;
	}
}



/*------------------------------------*\
    Centering in the Unknown
\*------------------------------------*/
.calign-wrap {
	text-align: center;
}

.calign-wrap:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

/* Center */
.calign-wrap__centerblock {
	display: inline-block;
	vertical-align: middle;
}



/*------------------------------------*\
    FONTS
\*------------------------------------*/
@font-face {
    font-family: supermarket;
    src: url("../fonts/supermarket.eot");
    src: url("../fonts/supermarket.eot?") format("eot"), 
		 url("../fonts/supermarket.woff") format("woff"), 
		 url("../fonts/supermarket.ttf")  format("truetype"),
		 url("../fonts/supermarket.svg#svgsupermarket") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bulletIcon';
	src:url('../fonts/bulletIcon.eot?-ojeij7');
	src:url('../fonts/bulletIcon.eot?#iefix-ojeij7') format('embedded-opentype'),
		url('../fonts/bulletIcon.woff?-ojeij7') format('woff'),
		url('../fonts/bulletIcon.ttf?-ojeij7') format('truetype'),
		url('../fonts/bulletIcon.svg?-ojeij7#bulletIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'bulletIcon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
}
.icon-file:before {
	content: "\e602";
}
.icon-phone:before {
	content: "\e603";
}
.icon-envelop:before {
	content: "\e604";
}
.icon-link:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-arrow-right2:before {
	content: "\e608";
}
.icon-arrow-left2:before {
	content: "\e609";
}
.icon-file-css:before {
	content: "\e60a";
}



/*------------------------------------*\
    LAYOUT
\*------------------------------------*/

/* Share Property */
%link-resume {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 100;
	font-style: normal;
    color: #333333;
    transition: all 0.3s ease 0s;
}

%bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

%block-absolute {
    display: block;
    position: absolute;
    z-index: 1;
}

/* Main Background */
.resume-bg {
    @extend %bg-center;
    height: 100%;
    background-image: url(../images/bg-main.gif);
}

/* Container */
.resume-container {
    position: relative;
    width: auto;
    height: 90%;
    padding: 20px;
    margin-top: -2%;
    background-color: #ffffff;
    box-shadow: 0px 3px 8px 0px #333333;
}

.lt-ie9 .resume-container {
    border-bottom: solid 2px #999999;
}

.resume-container:after {
    @extend %block-absolute;
    content: '/* Copyright © 2014 Nattarat Srila */';
    bottom: -30px;
    left: 50%;
    margin-left: -102px;
    font-size: 12px;
    color: #222222;
}

/* Information */
.resume-info {
    text-align: left;
}

/* Information - Myself */
.resume-info__myself {
    @extend %bg-center;
    height: 100%;
    background-color: #111111;
    background-image: url(../images/loader-myself.gif);
}

/* For Retina Display */
@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
    .resume-info__myself {
        background-image: url(../images/loader-myself@2x.gif);
        background-size: 32px 32px;
    }
}

/* Information - List */
.resume-info__list {
    padding-bottom: 0px;
}

.resume-info__list {
    li:nth-child(4), li:nth-child(5) {
        a {
            background-color: #ffffff;
        }
    }
}

/* Information - List - Main */
.resume-info__list__main {
    height: 40%;
    a {
        @extend %link-resume;
        display: block;
        height: 100%;
        border-left: solid 1px #ffffff;
        background-color: #333333;
        color: #000000;
        &:hover {
            color: #000000;
        }
        &.about {
            @extend %bg-center;
            background-image: url(../images/icon-about.png);
            &:before {
                content: '#About';
            }
            &:hover {
                background-color: #ffffff;
            }
            &:active {
                background-color: #999999;
            }
        }
        &.story {
            @extend %bg-center;
            background-image: url(../images/icon-background.png);
            &:before {
                content: '#Story';
            }
            &:hover {
                background-color: #ffffff;
            }
            &:active {
                background-color: #999999;
            }
        }
        &:before {
            @extend %block-absolute;
            top: 0px;
            left: 20px;
        }
        &:after {
            @extend %block-absolute;
            content: '+';
            bottom: -5px;
            right: 20px;
            color: #000000;
        }
    }
}

/* For Retina Display */
@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
    .resume-info__list__main a.about,
    .resume-info__list__main a.story {
        background-size: 360px 300px;
    }
    
    .resume-info__list__main a.about {
        background-image: url(../images/icon-about@2x.png);
    }
    
    .resume-info__list__main a.story {
        background-image: url(../images/icon-background@2x.png);
    }
}

/* Information - List - Minor */
.resume-info__list__minor {
    height: 20%;
    margin-left: 20px;
    background: url(../images/bg-lineslant.gif) repeat-x bottom left;
    text-align: left;
    clear: both;
    &:last-child {
        background-image: none;
    }
    a {
        @extend %link-resume;
        position: relative;
        width: 99%;
        padding: 0px;
        background-color: #ffffff;
        &:hover {
            color: #000000;
        }
        &:active {
            background-color: #ffffff;
            color: #ffffff;
        }
        &:after {
            content: '{ + }';
            @extend %block-absolute;
            top: 0px;
            right: 0px;
        }
    }
}

/* For Retina Display */
@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
    .resume-info__list__minor {
        background-image: url(../images/bg-lineslant@2x.gif);
        background-size: 5px 11px;
    }
}

/* Copyright */
.resume-copyright {
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
}

/* Detail */
.resume-detail {
    padding: 80px 0px;
}

/* Share Property */
%detail-space {
    padding-left: 30px;
    border-left: solid 1px #999999;
}

/* Detail - Title */
.resume-detail__title {
    @extend %link-resume;
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

/* Detail - List */
.resume-detail__list {
    @extend %detail-space;
    li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 5px;
        span:first-child {
            content: '';
            @extend %block-absolute;
            top: 5px;
            left: 0px;
        }
        span + span + span {
            color: #999999;
        }
        a {
            display: inline-block;
            margin-bottom: 10px;
            color: #666666;
            transition: color 0.3s ease 0s;
            &:hover {
                color: #000000;
            }
        }
    }
}

/* Detail - Paragraph */
.resume-detail__paragraph {
    @extend %detail-space;
    margin-left: 30px;
    p {
        margin-bottom: 10px;
    }
}

/* Works */
.resume-works {
    padding: 50px 0;
}

/* Works - Title */
.resume-works__title {
    padding-bottom: 20px; 
    margin-bottom: 40px;
    border-bottom: solid 1px #cccccc;
    font-family: supermarket;
    font-size: 60px;
    color: #333333;
    text-align: center;
}

/* Works - List */
.resume-works__list {
    margin-bottom: 20px;
    border-bottom: solid 1px #cccccc;
    li {
        margin-bottom: 40px;
    }
}

/* Works - List - Image */
.resume-works__list__img {
    margin-bottom: 0px;
}

/* Works - List - Detail */
.resume-works__list__detail {
    h3 {
        margin-top: -3px;
        margin-bottom: 7px;
        font-family: supermarket;
        font-size: 24px;
    }
    p {
        margin-bottom: 5px;
        font-size: 16px;
    }
    a {
        color: #666666;
        transition: color 0.3s ease 0s;
        &:hover {
            color: #000000;
        }
        span {
            font-size: 12px;
        }
    }
}

/* Works - Menu */
.resume-works-menu {
    margin-bottom: 20px;
    ul {
        li {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: solid 1px #cccccc;
            a {
                display: block;
                position: relative;
                font-family: supermarket;
                font-size: 24px;
                color: #999999;
                transition: color 0.3s ease 0s;
                &:hover {
                    color: #666666;
                }
                &:active {
                    color: #ffffff;
                }
                span {
                    @extend %block-absolute;
                    top: 11px;
                    right: 0px;
                    font-size: 16px;
                }
            }
        }
    }
}

/* Works - Back Home */
.resume-works-back {
    text-align: center;
    a {
        display: inline-block;
        font-family: supermarket;
        font-size: 18px;
        color: #666666;
        transition: color 0.3s ease 0s;
        &:hover {
            color: #333333;
        }
        &:active {
            color: #ffffff;
        }
    }
}



/*------------------------------------*\
    LAYOUT Media Query
\*------------------------------------*/
@media (max-width: 400px) {
    .resume-detail__list li span + span + span {
        display: block;
    }
}

@media (max-width: 767px) {
    .resume-bg.calign-wrap:before {
        display: none;
    }
    
    .resume-container {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin-top: 0px;
        box-shadow: 0px 0px 0px 0px #333333;
    }

    .resume-container:after {
        display: none;
    }
    
    .resume-info__list {
        padding-bottom: 10px;
    }
    
    .resume-info > .row > .col-md-6 + .col-md-6  {
        height: auto;
    }

    .resume-info__list__main {
        height: 200px;
    }

    .resume-info__list__minor {
        height: auto;
        margin-left: 0px;
        background-image: none;
    }
    
    .resume-info__list__minor.calign-wrap:before {
        display: block;
    }
    
    .resume-info__list__main a.about,
    .resume-info__list__main a.story {
        background-size: 270px 225px;
    }
    
    .resume-info__list__main a,
    .resume-info__list__minor a {
        font-size: 30px;
    }
    
    .resume-info__list__main a {
        border-left: none;
        color: #eeeeee;
    }
    
    .resume-info__list__main a.about {
        background-color: #222222;
    }
    
    .resume-info__list__main a:before {
        top: 10px;
    }
    .resume-info__list__main a:after {
        bottom: 10px;
        right: 30px;
    }
    
    .resume-info__list__minor a {
        width: auto;
        padding: 15px 20px;
        background-color: #444444;
        color: #eeeeee;
    }
    
    .resume-info__list li:nth-child(4) a {
        background-color: #555555;
    }
    
    .resume-info__list li:nth-child(5) a {
        background-color: #666666;
    }
    
    .resume-info__list__minor a:after {
        top: 20px;
        right: 20px;
        font-size: 24px;
    }
    
    .resume-info__list__minor a.calign-wrap__centerblock {
        display: block;
    }
    
    .resume-detail__title {
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #999;
    }
    
    .resume-detail__list, .resume-detail__paragraph {
        padding-left: 0px;
        border-left: none;
    }
    
    .resume-works__title {
        font-size: 36px;
    }
    
    .resume-works__list__img {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .resume-bg.calign-wrap:before {
        display: none;
    }
    
    .resume-container {
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: 0px;
        box-shadow: 0px 0px 0px 0px #333333;
    }

    .resume-container:after {
        display: none;
    }
    
    .resume-info__list {
        padding-bottom: 10px;
    }
    
    .resume-info > .row > .col-md-6 + .col-md-6  {
        height: auto;
    }

    .resume-info__list__main {
        height: 200px;
    }

    .resume-info__list__minor {
        height: auto;
        margin-left: 0px;
        background-image: none;
    }
    
    .resume-info__list__minor.calign-wrap:before {
        display: block;
    }
    
    .resume-info__list__main a.about,
    .resume-info__list__main a.story {
        background-size: 270px 225px;
    }
    
    .resume-info__list__main a,
    .resume-info__list__minor a {
        font-size: 36px;
    }
    
    .resume-info__list__main a {
        border-left: none;
        color: #eeeeee;
    }
    
    .resume-info__list__main a.about {
        background-color: #222222;
    }
    
    .resume-info__list__main a:before {
        top: 0px;
    }
    .resume-info__list__main a:after {
        bottom: -5px;
        right: 20px;
    }
    
    .resume-info__list__minor a {
        width: auto;
        padding: 15px 20px;
        background-color: #444444;
        color: #eeeeee;
    }
    
    .resume-info__list li:nth-child(4) a {
        background-color: #555555;
    }
    
    .resume-info__list li:nth-child(5) a {
        background-color: #666666;
    }
    
    .resume-info__list__minor a:after {
        top: 10px;
        right: 20px;
    }
    
    .resume-info__list__minor a.calign-wrap__centerblock {
        display: block;
    }
    
    .resume-detail__title {
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #999;
    }
    
    .resume-detail__list, .resume-detail__paragraph {
        padding-left: 0px;
        border-left: none;
    }
    
    .resume-works__title {
        font-size: 48px;
    }
    
    .resume-works__list__img {
        margin-bottom: 0px;
    }
}

@media (min-width: 992px) {
    .resume-bg.calign-wrap:before {
        display: none;
    }
    
    .resume-container {
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: 0px;
        box-shadow: 0px 0px 0px 0px #333333;
    }

    .resume-container:after {
        display: none;
    }
    
    .resume-info__list {
        padding-bottom: 0px;
    }
    
    .resume-info > .row > .col-md-6 + .col-md-6  {
        height: 100%;
    }

    .resume-info__list__main {
        height: 40%;
    }

    .resume-info__list__minor {
        height: 20%;
        margin-left: 20px;
        background-image: url(../images/bg-lineslant.gif);
    }
    
    .resume-info__list__minor.calign-wrap:before {
        display: inline-block;
    }
    
    .resume-info__list__main a.about,
    .resume-info__list__main a.story {
        background-size: 270px 225px;
    }
    
    .resume-info__list__main a,
    .resume-info__list__minor a {
        font-size: 36px;
    }
    
    .resume-info__list__main a {
        border-left: solid 1px #ffffff;
        color: #000000;
    }
    
    .resume-info__list__main a.about {
        background-color: #333333;
    }
    
    .resume-info__list__main a:before {
        top: 0px;
    }
    .resume-info__list__main a:after {
        bottom: -5px;
        right: 20px;
    }
    
    .resume-info__list__minor a {
        width: 99%;
        padding: 0px;
        background-color: #ffffff;
        color: #333333;
    }
    
    .resume-info__list li:nth-child(4) a,
    .resume-info__list li:nth-child(5) a {
        background-color: #ffffff;
    }
    
    .resume-info__list__minor a:after {
        top: 0px;
        right: 0px;
    }
    
    .resume-info__list__minor a.calign-wrap__centerblock {
        display: inline-block;
    }
    
    .resume-detail__title {
        text-align: right;
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: none;
    }
    
    .resume-detail__list, .resume-detail__paragraph {
        padding-left: 30px;
        border-left: solid 1px #999999;
    }
    
    .resume-works__title {
        font-size: 60px;
    }
    
    .resume-works__list__img {
        margin-bottom: 0px;
    }
}

@media (min-width: 1200px) {
    .resume-bg.calign-wrap:before {
        display: inline-block;
    }
    
    .resume-container {
        width: auto;
        height: 90%;
        padding: 20px;
        margin-top: -2%;
        box-shadow: 0px 3px 8px 0px #333333;
    }

    .resume-container:after {
        display: block;
    }
    
    .resume-info__list {
        padding-bottom: 0px;
    }
    
    .resume-info > .row > .col-md-6 + .col-md-6  {
        height: 100%;
    }

    .resume-info__list__main {
        height: 40%;
    }

    .resume-info__list__minor {
        height: 20%;
        margin-left: 20px;
        background-image: url(../images/bg-lineslant.gif);
    }
    
    .resume-info__list__minor.calign-wrap:before {
        display: inline-block;
    }
    
    .resume-info__list__main a,
    .resume-info__list__minor a {
        font-size: 42px;
    }
    
    .resume-info__list__main a {
        border-left: solid 1px #ffffff;
        color: #000000;
    }
    
    .resume-info__list__main a.about {
        background-color: #333333;
    }
    
    .resume-info__list__main a:before {
        top: 0px;
    }
    .resume-info__list__main a:after {
        bottom: -5px;
        right: 20px;
    }
    
    .resume-info__list__minor a {
        width: 99%;
        padding: 0px;
        background-color: #ffffff;
        color: #333333;
    }
    
    .resume-info__list li:nth-child(4) a,
    .resume-info__list li:nth-child(5) a {
        background-color: #ffffff;
    }
    
    .resume-info__list__minor a:after {
        top: 0px;
        right: 0px;
    }
    
    .resume-info__list__minor a.calign-wrap__centerblock {
        display: inline-block;
    }
    
    .resume-detail__title {
        text-align: right;
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: none;
    }
    
    .resume-detail__list, .resume-detail__paragraph {
        padding-left: 30px;
        border-left: solid 1px #999999;
    }
    
    .resume-works__title {
        font-size: 60px;
    }
    
    .resume-works__list__img {
        margin-bottom: 0px;
    }
}

@media (min-width: 1440px) {
    .resume-container {
        height: 750px;
    }   
}



/*------------------------------------*\
    jPreloader
\*------------------------------------*/
body {
	display: none;
}

#jpreOverlay {
	background-color: #FFF;
}

#jpreSlide {
	margin-top: -125px;
}

/* Preload Items */
/*
    <div id="jpreSlide">
        <div id="preload-items">
            :before
            :after
        </div>
    </div>
*/
#jpreSlide,
#preload-items,
#preload-items:before, 
#preload-items:after {
	width: 300px;
}

#jpreSlide,
#preload-items {
	height: 250px;
}

#preload-items:before {
    content: '';
    display: block;
    width: 300px;
    height: 200px;
	background-image: url(../images/logo-preload.png);
}

#preload-items:after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    margin: auto;
	background: url(../images/jpreload-loader.gif) no-repeat center center;
}

@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
    #preload-items:before {
        background-image: url(../images/logo-preload@2x.png);
        background-size: 300px 200px;
    }

    #preload-items:after {
        background: url(../images/jpreload-loader@2x.gif) no-repeat center center;
        background-size: 32px 32px;
    }
}

/* Preload Bar */
#jpreLoader {
	width: 100%; 
}

#jpreLoader,
#jpreBarInner {
    height: 5px;
}

#jpreBar {
	background-color: #666666;
}

#jpreBarInner { 
	width: 100%; 
	position: absolute; 
    z-index: -1; 
    top: 0px; 
    left: 0px;
	background-color: #cccccc;   
}

/* Percentage Number */
#jprePercentage {
	margin: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px; 
    color: #666; 
    text-align: right;
}

/* FadeOut Button */
#jpreButton {
	width: 100px; 
    padding: 5px 10px; 
    margin: auto;
	background: #333;
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
	text-align: center; 
    color: #FFF; 
	cursor: pointer;
}



/*------------------------------------*\
    ImageFill
\*------------------------------------*/
/* Selector for parent element */
.fullfill-img {
	position: relative; 
	overflow: hidden;
}

.fullfill-img img {
    display: none;
}



/*------------------------------------*\
    scrollToBySpeed
\*------------------------------------*/
/* No CSS */



/*------------------------------------*\
    Data Image Delivery
\*------------------------------------*/
/* Selector */
.data-img {}
.retina-img {}



/*------------------------------------*\
    Bootstrap Modals
\*------------------------------------*/
/* Full Screen
--------------------------------------------------------------------------------------------------------------------- */
/* Backdrop */
.fullscreen-modal-active .modal-backdrop {
	background-color: #FFF; /* lt-ie9 */
	background-color: rgba(255,255,255,0);
}

/* Main Container (BG Color + Animate) */
.fullscreen-modal {
	background-color: #FFF;
}

.fullscreen-modal.gallery {
	background-color: rgba(0,0,0,0.95);
}

.fullscreen-modal.notice {
	background-color: rgba(0,0,0,0.75);
}

.fullscreen-modal.mobile-menu {
	background-color: rgba(255,255,255,0.95);
}

.lt-ie9 .fullscreen-modal.gallery,
.lt-ie9 .fullscreen-modal.notice {
	background-color: transparent;
	background-image: url(../images/bootstrap-modal-overlay.png);
}

.fullscreen-modal.modal {
	z-index: 10001;
}

.fullscreen-modal.modal.fade .modal-dialog {
	transform: translate(0,0);
}

.fullscreen-modal.modal.in .modal-dialog {
	transform: translate(0,0);
}

.fullscreen-modal .modal-dialog {
  position: relative;
  width: auto;
  margin: 0;
}

@media (min-width: 768px) {
	.fullscreen-modal .modal-dialog {
	  width: auto;
	  margin: 0 auto;
	}
}

/* Close Button */
.fullscreen-modal .modal-close {
	position: absolute; 
	z-index: 1;
	top: 20px; 
    right: 0px;
	width: 40px;
	height: 40px;
	border: solid 2px transparent;
	border-radius: 50%;
	color: #CCC;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}

.fullscreen-modal.gallery .modal-close {
	border-color: transparent;
	color: #666;
}

.fullscreen-modal .modal-close:hover {
	border-color: #666;
}

.fullscreen-modal.gallery .modal-close:hover {
	border-color: #CCC;
}

.fullscreen-modal .modal-close span {
	font-size: 32px;
}

.fullscreen-modal .modal-close:hover span {
	color: #666;
}

.fullscreen-modal.gallery .modal-close:hover span {
	color: #CCC;
}

/* Transition */
.fullscreen-modal .modal-close,
.fullscreen-modal .modal-close span {
	transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
	.fullscreen-modal .modal-close {
        right: 20px;
	}
}

@media (min-width: 768px) {
    .fullscreen-modal .modal-close {
        right: 20px;
	}
}

@media (min-width: 992px) {
    .fullscreen-modal .modal-close {
        right: 20px;
	}
}

@media (min-width: 1200px) {
    .fullscreen-modal .modal-close {
        right: 0px;
	}
}

/* Content */
/* Single Horizontal Image */
.fullscreen-modal .modal-horizontal-img {
	width: 90%;
	height: auto;
}

/* Single Vertical Image */
.fullscreen-modal .modal-vertical-img {
	max-width: 100%;
	height: auto;
}

/* Text + Image */
.fullscreen-modal .article-content {
	padding-top: 75px;
	padding-bottom: 75px;
}

/* Scroll Down Gallery */
.fullscreen-modal .scrolldown-gallery {
	padding-top: 75px;
	padding-bottom: 45px;
}

.fullscreen-modal .scrolldown-gallery li {
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 767px) {
	.fullscreen-modal .modal-vertical-img {
		width: 90%;
	}
		
	.fullscreen-modal .scrolldown-gallery li {
		margin-bottom: 20px;
	}
}

.fullscreen-modal .scrolldown-gallery li img {
	max-width: 100%;
	height: auto;
}

/* Notice
--------------------------------------------------------------------------------------------------------------------- */
.fullscreen-modal .modal-notice {
	width: auto;
	text-align: center;
}

/* Animate */
.fullscreen-modal.modal.fade .modal-dialog.modal-notice {
	transform: translate(0,0);
}

.fullscreen-modal.modal.in .modal-dialog.modal-notice {
	transform: translate(0,30px);
}

.lt-ie9 .fullscreen-modal.modal.in .modal-dialog.modal-notice {
	margin-top: 30px;
}

/* Container */
.fullscreen-modal .modal-notice .status-notice {
	position: relative;
	display: inline-block;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0 5px 10px -5px #000;
}

.fullscreen-modal .modal-notice .status-notice .icon,
.fullscreen-modal .modal-notice .status-notice .detail {
	display: inline-block;
}

/* Close Button */
.fullscreen-modal .modal-notice .status-notice .notice-close {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
	width: 25px;
	height: 25px;
	border: solid 1px #FFF;
	border-radius: 50%;
	line-height: 20px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.fullscreen-modal .modal-notice .status-notice .notice-close:hover {
	border-color: #333;
}

.fullscreen-modal .modal-notice .status-notice .notice-close span {
	font-size: 18px;
	line-height: 1;
	color: #999;
}

.fullscreen-modal .modal-notice .status-notice .notice-close:hover span {
	color: #333;
}

.fullscreen-modal .modal-notice .status-notice .notice-close,
.fullscreen-modal .modal-notice .status-notice .notice-close span {
	transition: all 0.3s ease 0s;
}

/* Icon */
.fullscreen-modal .modal-notice .status-notice .icon {
	width:53px;
}

/* Detail */
.fullscreen-modal .modal-notice .status-notice .detail {
	line-height: 53px;
}

.fullscreen-modal .modal-notice .status-notice .detail p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	font-size: 16px;
	line-height: 1.6;
}

@media (max-width: 767px) {
	.fullscreen-modal .modal-notice .status-notice .icon {
		margin-bottom: 10px;
	}
	
	.fullscreen-modal .modal-notice .status-notice .detail p {
		margin-left: 0;
	}
}