// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Home
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Utilities
// ============================================================
@keyframes bg-gradient-shift {
  0%    { background-position: 50% 50%; }
  25%   { background-position: 100% 0%; }
  75%   { background-position: 25% 50%; }
  100%  { background-position: 50% 50%; }
}

// Main style
// ============================================================
.home {
  animation: bg-gradient-shift 10s ease infinite;
  background: linear-gradient(135deg, rgba(26, 26, 26, 1) 0%, rgba(50, 50, 50, 1) 100%);
  background-position: 50% 50%;
  background-size: 500%;

  @media (max-width: $media-query-428) {
    background-size: 200%;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/static/images/graphics/bg-text-position.svg);
    background-size: cover;
  }

  .home-section {
    &.is-logo {
      margin: 0 0 16px;
    }

    &.is-message {
      margin: 0 0 34px;
    }
  }

  .home-image {
    &.is-logo {
      width: auto;
      height: 320px;
    }
  }

  .home-text {
    &.is-coming-soon {
      @include font-primary-regular(12);
      color: $color-gray-600;
    }
  }
}

// Fix browser style
// ============================================================
.firefox {
  .home {
    animation: none; // Fix linear gradient animation
    background: $color-primary-gray;
  }
}

// Responsive
// ============================================================
